body {
  background-color: #CC99A1;
}

.container-fluid {
  margin: 20px;
}

.jumbotron {
  text-align: center;
}

.jumbotron img {
  width: 200px;
  height: 300px;
  border-radius: 50%;
}

.projects img {
  width: 400px;
  height: 200px;
  float: right;
}

.source {
  text-align: center;
}

.logo {
	width: 100%;
}